langchain==0.3.13
langchain_community==0.3.13
langchain_huggingface==0.1.2
langchain_text_splitters==0.3.3
langchain_chroma==0.1.4
rank-bm25==0.2.2
huggingface_hub==0.27.0
transformers==4.47.1
tokenizers==0.21.0
jsonpatch==1.33
jsonpickle==4.0.1
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
beautifulsoup4==4.12.3
nltk==3.9.1
torch==2.5.1+cu121
pickleshare==0.7.5
numpy==1.26.4
tqdm==4.67.1